Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Cors
python-dotenv
Werkzeug
psycopg2-binary
eventlet
python-dotenv
Flask==2.3.2
Flask-Login==0.6.2
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.0.3
eventlet==0.40.2
gunicorn==21.2.0

